.noteBook{
    /* border: 2px solid black; */
    width: 1200px;
    min-width: 400px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px grey;
    background-color: rgb(217, 212, 212);
    overflow: hidden;
    background-image: url("./trans.png");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}