.noteImage {
    background-image: url("./notebook.jpg");
    background-position: center;
    background-attachment: fixed;
}

.aboutPage {
    width: 1000px;
    min-width: 436px;
    background-color: rgb(235, 232, 232);
    border-radius: 8px;
    box-shadow: 4px 8px 8px grey;
    background-image: url("./trans.png");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

}

@media screen and (max-width:991px) {
    .aboutPage {
        height: 100vh;
    }
}